


.bubble {
    margin: 50px;
    padding: 20px;
    position: relative;
    border-radius: 8px 8px 8px 8px;
    width: 50%;
    background: #FBD9D3;
    border-color: #FBD9D3;

}

.bubble:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 20px;
    border-top: 20px solid blue;
    border-top-color: inherit;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}