<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/componentes/plantilla :: head"></head>

<body class="horizontal-layout horizontal-menu 2-columns" data-open="hover" data-menu="horizontal-menu"
      data-col="2-columns">
<nav th:replace="fragments/componentes/plantilla :: header"></nav>
<nav th:replace="fragments/componentes/plantilla :: menu"></nav>

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-2">
                <h3 class="content-header-title" th:text="#{text.chofer.form.h3.gestionChoferes}"></h3>
                <div class="row breadcrumbs-top">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a th:href="@{/dashboard}">
                                    <span th:text="#{text.tittle.home}"></span>
                                </a>
                            </li>
                            <li class="breadcrumb-item active" th:text="#{text.chofer.form.li.choferes}"></li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="content-header-right col-md-6 col-12">
                <div class="media width-250 float-right">
                    <div class="media-body media-right text-right">
                        <a href="#" onclick="history.back()" class="btn btn-icon btn-secondary mr-1 mb-1">
                            <i class="la la-chevron-left"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <section id="pagination">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title" th:if="${accion == null or accion == 'guardar'}" th:text="#{text.chofer.form.h4.crearChofer}"></h4>
                                <h4 class="card-title" th:if="${accion == 'actualizar'}" th:text="#{text.chofer.form.h4.actualizarChofer}"></h4>
                                <h4 class="card-title" th:if="${accion == 'eliminar'}" th:text="#{text.chofer.form.h4.eliminarChofer}"></h4>
                            </div>
                            <div class="card-body">
                                <div class="card-text">
                                    <div th:if="${error != null}" class="alert alert-danger" role="alert">
                                        <strong th:text="#{text.chofer.form.strong.error}"></strong>
                                        <span th:text="${error}">error</span>
                                    </div>

                                    <div th:if="${accion == 'eliminar'}" class="alert alert-danger" role="alert">
                                        <strong th:text="#{text.chofer.form.strong.alto}"></strong>
                                        <span th:text="#{text.chofer.form.span.confirmarEliminacion}"></span>
                                    </div>
                                </div>
                                <form method="POST" id="formulario" novalidate="novalidate" th:object="${chofer}"
                                      th:action="@{/chofer/__${accion == 'eliminar' ? 'eliminar' : 'guardar'}__}">
                                    <input type="hidden" th:field="*{id}"/>
                                    <input type="hidden" th:field="*{idTransportador}"/>
                                    <input type="hidden" th:field="*{usuario.id}">

                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <label for="nombre">
                                                    <span th:text="#{text.chofer.form.label.nombre}"></span>
                                                    <span class="danger"> * </span>
                                                </label>
                                                <input class="form-control" id="nombre" th:field="*{usuario.nombre}"
                                                       th:value="*{usuario.nombre}" autocomplete="off" type="text"
                                                       th:placeholder="#{text.chofer.form.input.ingreseElNombre}"
                                                       required autofocus/>
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <label for="tipoDocumentacion">
                                                    <span th:text="#{text.chofer.form.label.tipoDocumento}"></span>
                                                    <span class="danger"> * </span>
                                                </label>
                                                <select class="form-control" id="tipoDocumentacion" th:field="*{tipoDocumento}">
                                                    <option th:value="${''}" th:text="#{text.select.placeholder}"></option>
                                                    <option th:each="td : ${tipoDocumentos}" th:text="${td.nombre}"
                                                            th:value="${{td}}" th:select="${td == tipoDocumento}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <label for="documento">
                                                    <span th:text="#{text.chofer.form.label.documento}"></span>
                                                    <span class="danger"> * </span>
                                                </label>
                                                <input class="form-control" id="documento" th:field="*{documento}"
                                                       th:value="*{documento}" autocomplete="off" type="text"
                                                       th:placeholder="#{text.chofer.form.input.ingreseElDoccumento}"
                                                       required/>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12">
                                            <label for="telefono">
                                                <span th:text="#{text.chofer.form.label.telefono}"></span>
                                                <span class="danger"> * </span>
                                            </label>

                                            <input class="form-control" id="telefono" th:field="*{usuario.telefono}"
                                                   th:value="*{usuario.telefono}" autocomplete="off" type="tel" required/>
                                        </div>
                                        <div class="col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <label for="email">
                                                    <span th:text="#{text.chofer.form.label.mail}"></span>
                                                    <span class="danger"> * </span>
                                                </label>
                                                <input class="form-control" id="email" th:field="*{usuario.mail}"
                                                       th:value="*{usuario.mail}" type="email" autocomplete="off"
                                                       th:placeholder="#{text.chofer.form.input.ingreseMail}" required/>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 adicional" style="display: block">
                                            <div class="form-group">
                                                <label for="telefonoAdicional"
                                                       th:text="#{text.chofer.form.label.telefonoAdicional}">
                                                </label>
                                                <input class="form-control" id="telefonoAdicional" th:field="*{telefonoAdicional}"
                                                       th:value="*{telefonoAdicional}" type="tel" autocomplete="off"
                                                       required/>
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-sm-12 adicional" style="display: block">
                                            <div class="form-group">
                                                <label for="emailAdicional"
                                                       th:text="#{text.chofer.form.label.mailAdicional}">
                                                </label>
                                                <input class="form-control" id="emailAdicional" th:field="*{emailAdicional}"
                                                       th:value="*{emailAdicional}" type="email" autocomplete="off"
                                                       th:placeholder="#{text.chofer.form.input.ingreseMailAdicional}"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-actions text-right">
                                        <button type="button" onclick="window.history.go(-1)" class="btn btn-secondary">
                                            <i class="ft-x"></i>
                                            <span th:text="#{text.btn.cancelar}"></span>
                                        </button>
                                        <button type="submit" class="btn btn-danger" form="formulario"
                                                th:if="${accion == 'eliminar'}">
                                            <i class="la la-trash"></i>
                                            <span th:text="#{text.btn.eliminar}"></span>
                                        </button>
                                        <button type="submit" class="btn btn-primary" form="formulario"
                                                th:if="${accion == null or accion == 'guardar'}">
                                            <i class="la la-check"></i>
                                            <span th:text="#{text.chofer.form.span.guardarYAgregarDocumentacion}"></span>
                                        </button>
                                        <button type="submit" class="btn btn-primary" form="formulario"
                                                th:if="${accion == 'actualizar'}">
                                            <i class="la la-check"></i>
                                            <span th:text="#{text.btn.actualizar}"></span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<div class="sidenav-overlay"></div>
<div class="drag-target"></div>

<th:block th:replace="fragments/componentes/plantilla :: footer"></th:block>
<script type="text/javascript" th:inline="javascript">
    $(".select2").select2();

    let input = document.querySelector("#telefono");

    let countryCode = window.intlTelInput(input, {
        onlyCountries: ["ar", "cl", "br", "uy", "pr", "bo", "pe"],
        preferredCountries: ["ar", "cl", "br", "uy", "pr", "bo", "pe"],
        autoPlaceholder: "polite",
        utilsScript: "/assets/js/utils.js",
        customContainer: "form-group",
    });


    input.addEventListener("countrychange", function () {
        let x = countryCode.getSelectedCountryData();
        $("#telefono").val("+" + x.dialCode)
    });

    let input2 = document.querySelector("#telefonoAdicional");

    let countryCode2 = window.intlTelInput(input2, {
        onlyCountries: ["ar", "cl", "br", "uy", "pr", "bo", "pe"],
        preferredCountries: ["ar", "cl", "br", "uy", "pr", "bo", "pe"],
        autoPlaceholder: "polite",
        utilsScript: "/assets/js/utils.js",
    });

    let codigo2 = countryCode.getSelectedCountryData()
    input.addEventListener("countrychange", function () {
        let x = countryCode.getSelectedCountryData();
        $("#telefonoAdicional").val("+" + x.dialCode)
    });

    let chofer = [[${chofer}]];
    if (chofer.telefono != null) {
        $("#telefono").val(chofer.telefono)
    }

    if (chofer.telefonoAdicional != null) {
        $("#botonAgregar").hide();
        $("#telefonoAdicional").val(chofer.telefonoAdicional);
        $(".adicional").show();
    } else {
        let codigo = countryCode.getSelectedCountryData()
        $("#telefono").val("+" + countryCode.getSelectedCountryData().dialCode)
    }
</script>
</body>
</html>
