<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/componentes/plantilla :: head"></head>
<body class="horizontal-layout horizontal-menu 2-columns" data-open="hover" data-menu="horizontal-menu" data-col="2-columns">
<nav th:replace="fragments/componentes/plantilla :: header"></nav>
<nav th:replace="fragments/componentes/plantilla :: menu"></nav>

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-12 col-md-3 mb-2">
                <h3 class="content-header-title" th:text="#{text.dash.dador}"></h3>
                <div class="row breadcrumbs-top">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active" th:text="#{text.dash.bienvenido}">
                                <span th:text="${session.usuario.nombre}"></span>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            
            <div class="text-center col-12 col-md-9 mb-2">
                <a href="https://mecubro.com/ap/contrata-seguro-de-accidentes-personales-para-CHOFER-DE-CAMION/478?utm_source=Web%20T%20cargo&utm_medium=Banner%20AP%20din%C3%A1mico%20720x50&utm_campaign=Campa%C3%B1a%20T%20Cargo&utm_term=Cotizaci%C3%B3n" target="_blank">
                  	<img class="img-fluid" alt="banner" src="/img/bannerAP_dinamico_720x50.gif" />
                </a>
            </div>
            
            
            
        </div>

        <div class="content-body">
            <section id="pagination">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title float-left" th:text="#{text.dash.estadisticas}"></h4>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <canvas id="graficoUno" width="400" height="150"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group" th:each="t : ${page.totales}">
                                    <label th:text="#{text.dash.moneda} + ': ' + ${t.nombre}"></label>
                                    <h3 th:text="${#numbers.formatDecimal(t.sumas,1,'POINT',2,'COMMA')}"></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<nav th:replace="fragments/componentes/plantilla :: footer"></nav>

<script th:inline="javascript">
    let reporte = [[${page}]];
    let grafico1 = document.getElementById('graficoUno').getContext('2d');
    let Chart1 = new Chart(grafico1, {
        type: 'bar',
        data: {
            labels: [
                [[#{text.dash.script.mis.pedidos.publicados}]],
                [[#{text.dash.script.mis.pedidos.ofertas}]],
                'Matchs',
            ],
            datasets: [
                {
                    label: '#' + [[#{text.btn.estadistica}]],
                    data: [reporte.pedidoPublicados, reporte.pedidoConOfertas, reporte.matchs],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        //                 'rgba(75, 192, 192, 0.2)',
                        //                 'rgba(153, 102, 255, 0.2)',
                        //                 'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        //                 'rgba(75, 192, 192, 1)',
                        //                 'rgba(153, 102, 255, 1)',
                        //                 'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1,
                },
            ]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            },
            title: {
                display: false,
                text: [[#{text.dash.script.estadistica}]]
            },
        },
    });

    document.getElementById("graficoUno").onclick = function (evt) {
        let activePoints = Chart1.getElementsAtEvent(evt);
        if (activePoints.length > 0) {
            let clickedElementindex = activePoints[0]["_index"];
            let label = Chart1.data.labels[clickedElementindex];
            switch (label) {
                case "Pedidos publicados":
                    window.location.href = "/pedido/cargas";
                    break;
                case "Pedidos con ofertas":
                    window.location.href = "/pedido/conofertas";
                    break;
                case "Matchs":
                    window.location.href = "/pedido/dador/matcheados";
                    break;
            }
        }
    };
</script>
</body>
</html>
