<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/componentes/plantilla :: head"></head>
<body class="horizontal-layout horizontal-menu 2-columns  " data-open="hover" data-menu="horizontal-menu" data-col="2-columns">
<nav th:replace="fragments/componentes/plantilla :: header"></nav>
<nav th:replace="fragments/componentes/plantilla :: menu"></nav>

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-2">
                <h3 class="content-header-title"
                    th:text="#{text.invitacion.form.h3.gestionInvitacion}">
                </h3>
                <div class="row breadcrumbs-top">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a th:href="@{/dashboard}">
                                    <span th:text="#{text.tittle.home}"></span>
                                </a>
                            </li>
                            <li class="breadcrumb-item active" th:text="#{text.invitacion.form.li.invitaciones}"></li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="content-header-right col-md-6 col-12">
                <div class="media width-250 float-right">
                    <div class="media-body media-right text-right">
                        <a href="#" onclick="history.back()" class="btn btn-icon btn-secondary mr-1 mb-1">
                            <i class="la la-chevron-left"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <section id="pagination">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <div class="card-text">
                                    <div th:if="${error != null}" class="alert alert-danger" role="alert">
                                        <strong th:text="#{text.invitacion.form.strong.error}"></strong> 
                                        <span th:text="${error}">error</span>
                                    </div>
                                    <div class="alert alert-info mb-2" role="alert">
                                        <strong th:text="#{text.invitacion.form.strong.info}"></strong> 
                                        <span th:text="#{text.invitacion.form.span.siAceptasLaSolicitud}"></span>
                                    </div>
                                    <div th:if="${accion == 'eliminar'}" class="alert alert-danger" role="alert">
                                        <strong th:text="#{text.invitacion.form.strong.alto}"></strong>
                                        <span th:text="#{text.invitacion.form.span.seEncuentraSeguro}"></span>
                                    </div>
                                </div>
                                <form method="POST" th:action="@{/invitacion/guardar}" id="formulario" novalidate="novalidate" th:object="${invitacion}">
                                    <input type="hidden" class="form-control" th:field="*{id}" th:value="*{id}"/>
                                    <input type="hidden" id="aceptacion" th:field="*{estadoInvitacion}"/>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="form-group">
                                            	<strong th:text="|#{text.invitacion.form.strong.solicitud} |"></strong>
                                                <label th:text="|${invitacion.nombreChofer} |"></label>
                                                <br/>
                                                <strong th:if="${invitacion.emailChofer != null}" th:text="|#{text.invitacion.form.strong.mail} |"></strong>
                                                <label th:text="|${invitacion.emailChofer} |"></label>
                                                <br/>
                                                <strong th:if="${invitacion.telefonoChofer != null}" th:text="|#{text.invitacion.form.strong.telefono} |"></strong>
                                                <label th:text="|${invitacion.telefonoChofer} |"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions text-right">
                                    	  <button type="button" class="btn btn-secondary" id="btn-cancelar">
                                                <i class="ft-x"></i>
                                                <span th:text="#{text.invitacion.form.span.cancelarSolicitud}"></span>
                                            </button>
                                        <button type="button" class="btn btn-primary" id="btn-aceptar">
                                            <i class="la la-check"></i>
                                            <span th:text="#{text.invitacion.form.span.aceptarSolicitud}"></span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<div class="sidenav-overlay"></div>
<div class="drag-target"></div>
<nav th:replace="fragments/componentes/plantilla :: footer"></nav>

<script th:inline="javascript">
	document.getElementById("btn-aceptar").addEventListener("click", () => mostrarAlerta('ACEPTADA'));
    document.getElementById("btn-cancelar").addEventListener("click", () => mostrarAlerta('RECHAZADA'));

    function mostrarAlerta(estado) {
        Swal.fire({
            title: estado === "ACEPTADA" ? [[#{text.invitacion.form.script.estasSeguro.aceptar}]] : [[#{text.invitacion.form.script.estasSeguro.cancelar}]],
            showCancelButton: true,
            confirmButtonText: [[#{text.aceptar}]],
            cancelButtonText: [[#{text.btn.cancelar}]],
        }).then((result) => {
            if (result.isConfirmed) {
                document.getElementById("aceptacion").value = estado;
                document.getElementById("formulario").submit();
            } else {
                Swal.fire([[#{text.invitacion.form.script.solicitudCancelada}]]);
            }
        });
    }
</script>
</body>
</html>
