<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/componentes/plantilla :: head"></head>

<body class="horizontal-layout horizontal-menu 2-columns  " data-open="hover" data-menu="horizontal-menu"
      data-col="2-columns">

<nav th:insert="fragments/componentes/plantilla :: header"></nav>

<nav th:insert="fragments/componentes/plantilla :: menu"></nav>


<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-2">
                <h3 class="content-header-title" 
                    th:text="#{text.localidad.form.h3.gestionLocalidades}">
                </h3>
                <div class="row breadcrumbs-top">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a th:href="@{/dashboard}">
                                    <span th:text="#{text.tittle.home}"></span>
                                </a>
                            </li>
                            <li class="breadcrumb-item active"
                                th:text="#{text.localidad.form.li.localidades}"></li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="content-header-right col-md-6 col-12">
                <div class="media width-250 float-right">
                    <div class="media-body media-right text-right">
                        <a href="#" onclick="history.back()" class="btn btn-icon btn-secondary mr-1 mb-1">
                            <i class="la la-chevron-left"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <section id="pagination">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title" th:if="${accion == null or accion == 'guardar'}"
                                    th:text="#{text.localidad.form.h4.crearLocalidad}">
                                </h4>
                                <h4 class="card-title" th:if="${accion == 'actualizar'}"
                                    th:text="#{text.localidad.form.h4.actualizarLocalidad}">
                                </h4>
                                <h4 class="card-title" th:if="${accion == 'eliminar'}"
                                    th:text="#{text.localidad.form.h4.eliminarLocalidad}">
                                </h4>
                            </div>
                            <div class="card-body">
                                <div class="card-text">
                                    <div th:if="${error != null}" class="alert alert-danger" role="alert">
                                        <strong th:text="#{text.localidad.form.strong.error}"></strong>
                                        <span th:text="${error}">error</span>
                                    </div>

                                    <div th:if="${accion == 'eliminar'}" class="alert alert-danger" role="alert">
                                        <strong th:text="#{text.localidad.form.strong.alto}"></strong> 
                                        <span th:text="#{text.localidad.form.span.seEncuentraSeguro}"></span>
                                    </div>
                                </div>
                                <form method="POST"
                                      th:action="@{/localidad/} + ${accion == null or accion == 'actualizar' ? 'guardar' : accion}"
                                      id="formulario" novalidate="novalidate" th:object="${localidad}">
                                    <input type="hidden" class="form-control" th:field="*{id}" th:value="*{id}"/>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <label for="holdername">
                                                    <span th:text="#{text.localidad.form.label.nombre}"></span>
                                                    <span class="danger"> * </span>
                                                </label>
                                                <input class="form-control" id="holdername" th:field="*{nombre}"
                                                       th:value="*{nombre}"
                                                       th:placeholder="#{text.localidad.form.input.ingreseElNombre}"
                                                       type="text"
                                                       required="true"/>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <label for="holdername">
                                                    <span th:text="#{text.localidad.form.label.codigoPostal}"></span>
                                                    <span class="danger"> * </span>
                                                </label> <input class="form-control" id="holdername"
                                                                th:field="*{codigoPostal}" th:value="*{codigoPostal}"
                                                                th:placeholder="#{text.localidad.form.input.ingreseElCodigo}"
                                                                type="text" required="true"/>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label for="holdername">
                                                    <span th:text="#{text.localidad.form.label.provincia}"></span>
                                                    <span class="danger"> * </span>
                                                </label>
                                                <select class="form-control select2" id="holdername"
                                                        th:field="*{idProvincia}">
                                                    <option th:each="provincia : ${provincias}"
                                                            th:text="${provincia.nombre}" th:value="${provincia.id}"
                                                            th:select="${localidad.idProvincia == provincia.id}">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <label for="holdername"
                                                       th:text="#{text.localidad.form.label.descripcion}">
                                                </label>
                                                <textarea class="form-control" id="holdername" th:field="*{descripcion}"
                                                          th:value="*{descripcion}"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-actions text-right">

                                        <a th:href="@{/localidad/listado}">
                                            <button type="button" class="btn btn-secondary">
                                                <i class="ft-x"></i>
                                                <span th:text="#{text.btn.cancelar}"></span>
                                            </button>
                                        </a>
                                        <button type="submit" class="btn btn-danger" form="formulario"
                                                th:if="${accion == 'eliminar'}">
                                            <i class="la la-trash"></i>
                                            <span th:text="#{text.btn.eliminar}"></span>
                                        </button>
                                        <button type="submit" class="btn btn-primary" form="formulario"
                                                th:if="${accion == null or accion == 'guardar'}">
                                            <i class="la la-check"></i>
                                            <span th:text="#{text.btn.guardar}"></span>
                                        </button>
                                        <button type="submit" class="btn btn-primary" form="formulario"
                                                th:if="${accion == 'actualizar'}">
                                            <i class="la la-check"></i>
                                            <span th:text="#{text.btn.actualizar}"></span>
                                        </button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<div class="sidenav-overlay"></div>
<div class="drag-target"></div>

<nav th:insert="fragments/componentes/plantilla :: footer"></nav>

<script type="text/javascript">
    $(".select2").select2();
</script>

</body>

</html>