<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/componentes/plantilla :: head"></head>

<body class="horizontal-layout horizontal-menu 2-columns  " data-open="hover" data-menu="horizontal-menu"
      data-col="2-columns">

<nav th:replace="fragments/componentes/plantilla :: header"></nav>

<nav th:replace="fragments/componentes/plantilla :: menu"></nav>

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-2">
                
                <h3 class="content-header-title" 
                    th:text="#{text.match.lista.tittle}"></h3>
                <div class="row breadcrumbs-top">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a th:href="@{/dashboard}" th:text="#{text.tittle.home}"></a>
                            </li>
                          
                            <li class="breadcrumb-item active" th:text="#{text.match.lista.subtittle}"></li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="content-header-right col-md-6 col-12">
                <div class="media width-250 float-right">
                    <div class="media-body media-right text-right">
                        <a href="#" onclick="history.back()" class="btn btn-icon btn-secondary mr-1 mb-1">
                            <i class="la la-chevron-left"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <section id="pagination">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title" 
                                    th:text="#{text.match.lista.subtittle}">
                                </h4>
                            </div>
                            <div class="card-body">
                                <div class="card-text">
                                    <div th:if="${error != null}" 
                                         class="alert alert-danger" 
                                         role="alert">
                                        <strong th:text="#{text.marca.form.error}"></strong> 
                                        <span th:text="${error}">error</span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="form-group">
<!--                                            TODO traducir esto-->
                                            <label for="requisitos">Requisitos</label>
                                            <select id="requisitos" class="form-control select2" multiple disabled>
                                                <option th:each="req : ${pedido.nombresRequisitos}" th:text="${req}" th:value="${req}"
                                                        th:selected="${pedido.nombresRequisitos.contains(req)}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <form method="POST" th:action="@{/match/nuevo/}" id="formulario" novalidate="novalidate">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label for="chofer" >
                                                    <span th:text="#{text.match.list.chofer}"></span>
                                                    <span class="danger"> * </span>
                                                </label>
                                                <select class="form-control select2" id="chofer" name="idChofer">
                                                	<option th:value="${''}" th:text="${'Selecciona una opcion'}">
                                                    <option th:each="chofer : ${choferes}"
                                                            th:text="|${chofer.usuario.nombre}|"
                                                            th:value="${chofer.id}">
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label for="vehiculo" >
                                                    <span th:text="#{text.match.list.vehiculo}"></span>
                                                    <span class="danger"> * </span>
                                                </label>
                                                <select class="form-control select2" id="vehiculo" name="idVehiculo">
	                                                <option th:value="${''}" th:text="${'Selecciona una opcion'}">
                                                    <option th:each="vehiculo : ${vehiculos}"
                                                            th:text="|${vehiculo.dominio} - ${vehiculo.modelo.marca.nombre} ${vehiculo.modelo.nombre}|"
                                                            th:value="${vehiculo.id}">
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label for="vehiculo" >
                                                    <span th:text="#{text.match.list.remolque}"></span> 
                                                    <span class="danger"> * </span>
                                                </label>
                                                <select class="form-control select2" id="remolque" name="idRemolque">
                                                	<option th:value="${''}" th:text="${'Selecciona una opcion'}">
                                                    <option th:each="remolque : ${remolques}"
                                                            th:text="|${remolque.dominio} - ${remolque.tipoRemolque.caracteristicas}|"
                                                            th:value="${remolque.id}">
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-actions text-right">
                                        <a th:href="@{/pedidos/cargas}">
                                            <button type="button" class="btn btn-secondary">
                                                <i class="ft-x"></i>
                                                <span th:text="#{text.btn.cancelar}"></span>
                                            </button>
                                        </a>
                                        <button id="match-rapido" type="button" class="btn btn-primary"
                                                form="formulario">
                                            <i class="la la-check"></i>
                                            <span th:text="#{text.match.btn.rapido}"></span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<div class="sidenav-overlay"></div>
<div class="drag-target"></div>

<nav th:replace="fragments/componentes/plantilla :: footer"></nav>

<script th:inline="javascript">
	$(".select2").select2();
    $('#match-rapido').click(() => {
    	if($('#chofer').val() == null || $('#chofer').val() == "" || $('#vehiculo').val() == null || $('#vehiculo').val() == "" || $('#remolque').val() == null || $('#remolque').val() == ""){
    		 Swal.queue([{
                 title: [[#{text.match.script.seleccionar.items}]],
                 confirmButtonText: 'OK',
                 icon: "info"
             }]);
    	}else{
        	let viajeModel = {
            	idChofer: $('#chofer').val(),
            	idVehiculo: $('#vehiculo').val(),
            	idRemolque: $('#remolque').val(),
            	kms: [[${pedido.kmTotales}]],
            	idUbicacionInicial: [[${pedido.idUbicacionDesde}]],
            	idUbicacionFinal: [[${pedido.idUbicacionHasta}]],
            	presupuesto: [[${pedido.valor}]],
            	idCarga: [[${pedido.idCarga}]]
        	};

        	let idPedido = new URLSearchParams(location.search).get('idPedido');
        	const form = $('#formulario');

        	$.ajax({
            	url: '/api/viaje/guardar',
            	type: 'POST',
            	contentType: 'application/json',
            	dataType: 'json',
            	data: JSON.stringify(viajeModel),
            	success: function (data) {
                	form.attr('action', form.attr('action') + idPedido + '/' + data.id);
            	}
        	}).then(() => {
            	form.submit();
        	})
    	}
    })
</script>

</body>

</html>
